pkgbase = rclone-bin
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage.
	pkgver = 1.62.2
	pkgrel = 1
	url = https://rclone.org/
	arch = i686
	arch = x86_64
	license = MIT
	provides = rclone
	conflicts = rclone
	source = https://raw.githubusercontent.com/ncw/rclone/v1.62.2/COPYING
	sha256sums = 8cd2e9e750b90a04b7d82dbbca3930c696ae0309d7c10464f90a44f45754cd04
	source_i686 = https://github.com/ncw/rclone/releases/download/v1.62.2/rclone-v1.62.2-windows-amd64.zip
	sha256sums_i686 = 5b91ee887762007cd9fef64003a70c496f855602d1bbb1c32a364008611f98ff
	source_x86_64 = https://github.com/ncw/rclone/releases/download/v1.62.2/rclone-v1.62.2-windows-amd64.zip
	sha256sums_x86_64 = 85c623d7808f9d2cf51945e02e98d02b94f9f32ea892237f9a58b544c7a4f4f9

pkgname = rclone-bin
