pkgbase = rclone-bin
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage.
	pkgver = 1.55.1
	pkgrel = 1
	url = https://rclone.org/
	arch = i686
	arch = x86_64
	license = MIT
	provides = rclone
	conflicts = rclone
	source = https://raw.githubusercontent.com/ncw/rclone/v1.55.1/COPYING
	sha256sums = 8cd2e9e750b90a04b7d82dbbca3930c696ae0309d7c10464f90a44f45754cd04
	source_i686 = https://github.com/ncw/rclone/releases/download/v1.55.1/rclone-v1.55.1-windows-386.zip
	sha256sums_i686 = 2133a91f7cc4d3d456727a8004db0268c2dc8cc373886124e89d8bd743a18843
	source_x86_64 = https://github.com/ncw/rclone/releases/download/v1.55.1/rclone-v1.55.1-windows-amd64.zip
	sha256sums_x86_64 = 4a0b0a80a93836b02dea026b0c8277066e78ab1a73bba2793ee0ca11609846d1

pkgname = rclone-bin

