pkgbase = rclone-bin
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage.
	pkgver = 1.53.4
	pkgrel = 1
	url = https://rclone.org/
	arch = i686
	arch = x86_64
	license = MIT
	provides = rclone
	conflicts = rclone
	source = https://raw.githubusercontent.com/ncw/rclone/v1.53.4/COPYING
	sha256sums = 8cd2e9e750b90a04b7d82dbbca3930c696ae0309d7c10464f90a44f45754cd04
	source_i686 = https://github.com/ncw/rclone/releases/download/v1.53.4/rclone-v1.53.4-windows-386.zip
	sha256sums_i686 = 23382dd1ac22e98a04110e2713d9706c1eb6f90702730b097008e4795da75de6
	source_x86_64 = https://github.com/ncw/rclone/releases/download/v1.53.4/rclone-v1.53.4-windows-amd64.zip
	sha256sums_x86_64 = 91651b5200cd8e7145dfe4aba227bfd03be356b6cbcb5c973f446fb0186c3776

pkgname = rclone-bin
